# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Credentials files
SW/V1_TeaSpike/include/credentials.h

#VSCode
SW/V1_TeaSpike/.pio
SW/V1_TeaSpike/.vscode/.browse.c_cpp.db*
SW/V1_TeaSpike/.vscode/c_cpp_properties.json
SW/V1_TeaSpike/.vscode/launch.json
SW/V1_TeaSpike/.vscode/ipch
SW/V1_TeaSpike/.vscode/extensions.json
SW/V0/librerias.zip

#Manual in Word
Spike V2 User Manual.docx